html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
nav {
    background-color: rgb(250, 227, 231);
    display: flex;
    justify-content: center;
}
nav div {
    text-align: center;
    width: 70px;
    border-radius: 5px;
    border: rgb(82, 81, 81) 1px solid;
    padding: 10px;
    margin-top: 5px;
}
nav div a {
    text-decoration: none;
    font-weight: 800;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: rgb(250, 227, 231);
}

.card-cuadrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    border: 3px solid grey;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    margin: 15px 0;
    background-color: whitesmoke;
}
.titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.form-cuadrado {
    width: 230px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: solid 1px grey;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    padding: 5px;
}
.form-cuadrado label {
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-cuadrado {
    width: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-right: 2px;
}
.input-cuadrado:hover {
    border:mediumseagreen solid 3px;
}
.input-container {
    margin-top: 5px;
}
.boton-regular {
    width: 200px;
    height: 40px;
    border: none;
    margin: 8px 0;
    font-size: 1.1rem;
    border-radius: 5px;
    border: rgb(248, 123, 77) solid 3px;
}
.boton-regular:hover {
    border: mediumseagreen solid 3px;
}

/*TRIANGulo*/
.card-triangulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    border: 3px solid grey;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
.form-triangulo {
    width: 230px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: solid 1px grey;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    padding: 5px;
}
.input-container__triangulo {
    display: flex;
    flex-direction: column;
}
.boton-triangulo {
    width: 160px;
    height: 40px;
    border: none;
    margin: 8px 0;
    font-size: 1.1rem;
    border-radius: 5px;
    border: rgb(248, 123, 77) solid 3px;
}
.boton-triangulo:hover {
    border: mediumseagreen solid 3px;
}

.form-triangulo-area {
    width: 230px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: solid 1px grey;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    padding: 5px;
}

.form-circulo__circunferencia {
    width: 230px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: solid 1px grey;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    padding: 5px;
}

.respuesta {
    display: flex;
    
    height: 50px;
    width: 230px;
    margin-top: 15px;
    border: solid 1px grey;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    align-items: center;
    justify-content: center;
}
.respuesta p {
    background-color: yellow;
    font-weight: bolder;
    font-size: 1.3rem;
}

.span-edit {
    background-color: rgb(54, 214, 198);
    font-weight: bolder;
    font-size: 1.6rem;
}